html {
    /* background-color: black; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
}

nav button {
    border: 0;
    background-color: white;
    padding: 1em;
}

nav button:hover {
    background-color:darkslateblue;
    color: white;
}

.view {
    padding: 0 25%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    padding: 0.25em;
}

#toggle-dark-mode {
    border-radius: 1em;
}

/* h1 {
    color: white;
}*/